* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

:root {
  --basic-color: #262626;
  --text-color: aliceblue;
  --hover-text-color: #424242;
}

body {
  background-color: yellow;
}

.container {
  min-width: 320px;
  font-size: 16px;
  /* width: 100vw; */
}

.header {
  padding: 20px 30px;
  background-color: var(--basic-color);
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}
.links {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: space-between;
  font-style: normal;
  margin: 15px 0px;
}

.logo-text {
  font-size: 1rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: var(--text-color);
  margin-right: 20px;
}

.nav-link {
  font-size: 1em;
  padding-right: 15px;
  color: var(--text-color);
}

.nav-links-text {
  font-size: 14px;
  padding-right: 20px;
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links-text a {
  display: inline-block;
  color: var(--text-color);
}
.nav-links-text a:visited {
  color: var(--text-color);
}

.nav-btn {
  font-weight: bold;
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 3px;

  border: 1px solid var(--text-color);
}

.nav-btn a {
  display: inline-block;
  color: var(--text-color);
  padding: 5px 10px;
}

.logo-text a {
  color: var(--text-color);
}
